{
    "jsc": {
      "parser": {
        "syntax": "ecmascript",
        "jsx": true
      },
      "target": "es5",
      "experimental": {
        "plugins": [["swc-plugin-valtio", {}]]
      }
    }
  }
